<%- include('includes/meta-tags.ejs') %>
 <link rel="stylesheet" href="/error.css">
</head>
<body>
    <%- include('includes/header.ejs') %>
    <div class="error505">
    <img src="/error-gif.gif" alt="error image">
    <div class="info">
        <h1>[⚠️500: Oop! something went wrong.]</h1>
         <p>We're working on fixing it, sorry for the inconvenience!</p>
    </div>
    </div>
</body>
</html>